@{
    ViewData["Title"] = "Activar";
    Layout = "_Layout";
}
@model PruebaTecnicaAhva.Models.Auth.UserSearchViewModel

<div class="public-bg public-bg-page"></div>

<div class="d-flex justify-content-center align-items-center auth-page-shell">
    
    <div class="card p-4 shadow-sm search-card">
        
        <partial name="Components/Auth/_SearchForm" model="Model" />
        
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}