<div style="height:44px; display:flex; align-items:center; justify-content:flex-start;">
    <div style="display:flex; align-items:center; height:44px; gap:0;">
        <div style="width:47px; height:44px; display:flex; align-items:center; justify-content:center; border-left:1px solid #E2E8F0; border-right:1px solid #E2E8F0;">
            <img src="~/images/escudo_peru.png" style="height:28px;" alt="Escudo" />
        </div>

        <div style="width:47px; height:44px; display:flex; align-items:center; justify-content:center; position:relative;">
            <img src="~/images/fondo_peru.png" style="position:absolute; width:100%; height:100%; z-index:1;" alt="" />
            <img src="~/images/peru.png" style="position:relative; z-index:2; height:16px;" alt="PERU" />
        </div>

        <div style="width:141px; height:44px; display:flex; align-items:center; justify-content:flex-start; position:relative;">
            <img src="~/images/fondo_consejo.png" style="position:absolute; width:100%; height:100%; z-index:1;" alt="" />
            <img src="~/images/consejo.png" style="position:relative; z-index:2; height:40px;" alt="PCM" />
        </div>

        <div style="width:141px; height:44px; display:flex; align-items:center; justify-content:flex-start; position:relative;">
            <img src="~/images/fondo_planeamiento.png" style="position:absolute; width:100%; height:100%; z-index:1;" alt="" />
            <img src="~/images/planeamiento.png" style="position:relative; z-index:2; height:40px;" alt="CEPLAN" />
        </div>
    </div>
</div>